customtkinter==5.2.2
darkdetect==0.8.0
DateTime==5.5
docutils==0.21.2
dynamixel-sdk==3.7.31
future==1.0.0
iso8601==2.1.0
numpy==2.3.1
packaging==25.0
pandas==2.3.1
psutil==7.0.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
serial==0.0.97
setuptools==80.9.0
six==1.17.0
statistics==1.0.3.5
tzdata==2025.2
zope.interface==7.2
